body {
    background-color: #fb6100 !important;
}

.quizContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.questionFooter {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white !important;
}